# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.cygni.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\mlyth\repo\unity\cygni\.idea\.idea.cygni\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
